html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #f3e9e9;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to top, #1a0000, #4a0000); 
    background-size: cover;
    transition: background 0.5s ease; /* Added transition property */
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-weight: bold;
    font-family: "Segoe UI", Arial, sans-serif;
}

p {
    color: #666666;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Segoe UI", Arial, sans-serif;
}

a {
    color: #666666;
    text-decoration: none;
    font-family: "Segoe UI", Arial, sans-serif;
}

a:hover {
    color: #ff3333;
}
